.idea
MNIST_data/*
Output/*
data/*
__pycache__/
stuff/
images
good_samples
checkpoints
local*
checkpoint_test
test
lower_gamma
egan_graphs
gamma*
new_score_combination*
working_egan
variable_implementation
train-images*
fashion_mnist
simple_models